.control {
  margin: 20px;
  height: 580px;
}

body {
  margin: 0;
  overflow-x: hidden;
}

canvas {
  background: linear-gradient(45deg, white 0% 20%, gray);
  margin: 0;
  padding: 0;
  border: 1px solid black;
}

#speedDiv {
  height: 100px;
}
